
 .products{
    display: grid;
    grid-template-columns: 3fr 1fr;
} 
.producut-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

} 
.cart-container{
    background-color: bisque;
    margin-left: 50px;
    height: 700px;
    position: sticky;
    top: 0;
   
}
@media screen and (max-width: 768px) {
    .producut-container{
        grid-template-columns: repeat(1, 1fr);
    } 
    .products{
        grid-template-columns: 1fr;
        /* grid-template-columns: repeat(1, 1fr); */

    } 
    .cart-container{
        margin-right: 50px;
        margin-left: 0px;
        margin-top: 10px;
    }
}


.main-container{
    background-color: antiquewhite;
    padding-left:100px;
    padding-bottom:100px;
}
.heading{
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

.remove-btn{
    background-color: orangered;
    padding: 10px 20px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
 
}